#text_content_wrap__{width:960px;
					 height:auto;}
#text_content__{width:880px;
				height:auto;
				padding:35px 40px;
				font-size:13px;
				line-height:18px;
				color:#333333;
				background-color:#FFF;}
.text_title__{text-align:center;
				color:#0000CC;
				margin-bottom:30px;}