*{margin:0;padding:0;}
a{text-decoration:none;
  color:#000;}
body{background-color:#CCCCCC;}
#wrap{width:960px;
	  margin:0 auto;
	  font-size:12px;
	  color:#000000;}
#header{width:960px;
		height:15px;
		background-color:#000;}
#header span{float:right;
			margin-right:10px;
			margin-top:2px;
			color:#999999;
			font-size:12px;}
#cont_top{width:960px;
			height:180px;
			background-color:#663333;}
#title{float:left;
		background:url(img/titile_bg.gif);
		width:414px;
		height:81px;
		margin-left:70px;
		margin-top:80px;}
#nav{width:960px;
	 height:30px;
	 background-color:#000;
	 background:url(img/bg_nav.jpg) no-repeat left bottom;
	 }

#nav ul,li{list-style-type:none;
		   padding:0;
		   margin:0;_margin-bottom:-2px;}
#nav .main_nav{padding:0;
			   margin-left:120px;}
#nav .main_nav a{display:block;
				 line-height:30px;
				 height:30px;
				 text-align:center;
				 padding-left:10px;
				 overflow:hidden;}
#nav .main_nav .navs{width:120px;
					 height:30px;
					 float:left;
					 background-color:#660000;}
*html .main_nav .navs{overflow:hidden;} /* only for ie6 */
#nav .main_nav .navs .nav_a{color:#FFF;
							font-size:12px;
							font-family:"����","����";
							font-weight:600;
							text-decoration:none;}
#nav .main_nav .navs .nav_a:hover{background-color:#000;}
#nav .sub_nav{display:none;
			  width:120px;
			  position:relative;
			  z-index:1000;
			  opacity:0.8;
			  filter:Alpha(opacity=80);}
#nav .sub_nav li a {color:#FFFFFF;
					height:20px;
					line-height:20px;
					text-decoration:none;}
#nav .sub_nav li a:link, .sub_nav li a:visited{background:#6b3106;}
#nav .sub_nav li a:hover{color:#FFFF66;
						 background:#660000;}
#nav .clear{clear:both;
			height:1px;
			line-height:1px;
			font-size:1px;}
#banner{width:960px;
		height:200px;
		background-color:#FFFF99;
		background:url(img/banner.jpg);}
#cont_bottom{width:960px;
			height:150px;}
#cont_bottom_left{height:150px;
					width:260px;
					float:left;
					_height:154px;
					background:url(img/content_left_bg__.gif);
					background-color:#333366;
					}
#cont_bottom_right{float:left;
					height:150px;
					width:700px;
					background-color:#663333;}
#footer{width:960px;
		height:15px;
		background-color:#000;}
#footer span{float:left;
			margin-left:400px;
			color:#999999;
			font-size:12px;
			margin-top:3px;
			}	

#coop{		clear:both;
			 width:700px;
			 height:150px;
			 margin-top:0px;
			 background:#000;
			 
			}

#demo {overflow:hidden;
	   width:680px;
	   padding-top:0px;
	   margin-left:10px;}
#indemo {float: left;
         width: 800%;
		 }
#demo1 {float: left;}
#demo2 {float: left;
		margin-left:5px;}




		